
/*all classes -----------*/
.grid-container {
	display: grid;
	grid-template-columns: 15% 60% 24%;
	grid-template-rows: 10% 30% 40% 20%;
	grid-auto-columns: minmax(100px, 300px);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}
.mainGrid {

}
.tradingGrid{

	display:grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 50% 50%;
	grid-row-gap: 10px;
}
.storeList{
	
}
.gridItemUnits{

	font-size:20px;
}
.armyGeneralStore{
	width:100%;
}
.travelGridWrapper{
	display:grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	text-align:center;
}
.travelGrid{
	grid-auto-rows: 100%;
	grid-auto-columns:100%;
}
.currentTrade{
	text-align:center;
}
.statsGrid{
	display:grid;
	grid-template-columns: 40% auto;
	grid-template-rows: auto auto auto auto auto;
}
.statsGridCell{
}
#battleWrapper{

	display:grid;
	grid-template-columns: 30% 40% 30%;
	grid-template-rows: auto auto;
}
.battleChild{

	grid-template-columns: auto auto;
	display:grid;
}
.battleChildAnimation{
}
.battleStats{
	
}
.enemyImg{
	height:50%;
	width:50%;
}
.enemyGif{
	height:60%;
	width:70%;
}
.playerGif{
	position:relative;
	float:left;
	height:60%;
	width:50%;
}

/*All IDs-----------*/
#toggleStats{
	float:right;
}
#battleLeftTop{
	display:grid;
	grid-template-rows: auto auto;
}
#battleRightTop{
	display:grid;
	grid-template-rows: auto auto;

}
#battleMiddleTop{
	display:grid;
	grid-template-columns: 50% 50%;
}
.enemyStatus{
}

#skull{
	position:relative;
	left:50px;
	align-content:center;
	height:60%;
	width:20%;
}
#attackBtn{
	align-self:center;
}
#endDay{
	align-self:center;
}
#playerHealth{
	color:green;
}
#playerStamina{
	color:blue;
}
#playerHealthBar{
	width:100%;
}
#playerStaminaBar{
	color:blue;
	width:100%;
}
#enemyHealth{
	color:red;
	text-align:center;
}
#enemyHealthBar{
	color:red;
	width:100%;
}
#playerHealth{
	position:relative;
	align-content:left;
}

#playerStamina{
	align-content: right;
}
#playerAvatar{
	align-content: left;
	height:50%;
	width:60%;
}

#playerAttackStickGif{

}
#playerAttackStickIdle{
	position:relative;
	float:left;
	height:60%;
	width:50%;
}

.playerData {
	padding-right:10px;
	position:relative;
	top:0px;
	font-size: 20px;
	float:left;
	margin:0px;
}
.playerDataItems{
	font-size: 90%;
}
.mapImage {
	width:90%;
	height:100%;
}
.travelButton{
	font-size:15px;
}
#mainOutput {
    font-family: arial, sans-serif;
    width: 100%;
    resize:none;
    height:100%;
}
#commodityBuyTable{
	height:150px;
	width:100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
